$primary-50: #FFF4F4;
$primary-100: #FFDFDF;
$primary-500: #FF0000;
$primary-600: #BA0000;
$primary-text: #FFFFFF;
$neutral-gray-400: #0A0A0A;
$neutral-gray-300: #333333;
$light-gray-100: #FFFFFF;
$light-gray-400: #E0E0E0;
$light-200: #F7F9FA;
$white: #FFFFFF;
$linear-gradient: linear-gradient(#FDEAE5, #FFE9DA);
$neutral-n-text: #11151F;
$neutral-100: #858585;
$primary-r-50: #FFF4F4;
$neutral-400: #0A0A0A;
$neutral-200: #4D4D4D;
$light-100: #FFFFFF;
$light-300: #F0F0F0;
$light-400: #E0E0E0;
$orange: #F2994A;
$blue-500: #1681FC;
$primary-y-500: #F3CC00;
$primary-y-100: #FEF5D7;
$primary-y-400: #FDD961;
$green-500: #2BAC47;
$light-gray-200: #F3F3F3;