.App {
  /* text-align: center; */
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sx-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas:
        "top top top top top"
        "top_resizer top_resizer top_resizer top_resizer top_resizer"
        "left left_resizer center right_resizer right"
        "bottom_resizer bottom_resizer bottom_resizer bottom_resizer bottom_resizer"
        "bottom bottom bottom bottom bottom";
}

.sx-layout-center {
  grid-area: center;
}

.sx-layout-top {
  grid-area: top;
}
.sx-layout-bottom {
  grid-area: bottom;
}
.sx-h-full {
  height: 100vh;
}