body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sx-height-screen-50 {
  height: 50vh;
}

.sx-h-12 {
  height: 100%;
}

.sx-h-6 {
  height: 50%;
}

.sx-h-4 {
  height: 33.3333333%;
}

.sx-h-3 {
  height: 25%;
}

.sx-h-2-4 {
  height: 20%;
}